<div class="container">
	<div class="row">
	  <h1><%= @gallery.name %></h1>

	  <input type="hidden" id="galleryID" value="<%= @gallery.id %>">

	  <p>
	    <b>Description </b>
	    <%= @gallery.description %>
	  </p>
	  <% if user_signed_in? %>
		  <div class="form-actions">
		    <%= link_to 'Back', galleries_path, :class => 'btn btn-mini'  %>
		    <%= link_to 'Edit gallery', edit_gallery_path(@gallery), :class => 'btn btn-mini' %>
		    <%= link_to 'Delete gallery', gallery_path(@gallery), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %>
		  </div>
	  <% end -%>
	</div>

	<div class="row">
	  <% @gallery.pictures.reverse.each do |pic| %>
	    <div class="thumbnail">
	      <%= image_tag pic.image.url %>
	      <div class="caption">
		<p style="text-align: center;">
		</p>
	      </div>
	    </div>
	  <% end %>
	</div>
</div>
