<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About</h1>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <%= image_tag ('0.jpg'), class: 'img-responsive' %>
            </div>
            <div class="col-md-6">
                <h3>About Square Foot Ministry</h3>
                <p><b>Square Foot Ministry</b> is a Christian based home repair and construction ministry located in Fayette County Georgia. Our goal is to serve the Lord our God through serving those in need. Our Board of Directors, friends and volunteers come from all denominations of faith and walks of life.</p>
                <p>We provide an opportunity for people to put their faith and love into action. Diverse groups of people work together to make affordable housing  and  better communities a reality for everyone, creating a community where bonds between individuals can grow. </p>
                <p>We work together to identify families and non-profit organizations that can benefit from our ministry. When a need is identified we formulate a plan to meet that needthrough the combined efforts of our members, local churches and volunteers in the area</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <p>Our goal is to employ God's gifts of resources, talents, and wisdom for the purpose of providing shelter and home repairs for the needy in Fayette County and surrounding areas. The Mission of Square Foot Ministry is to employ God's gifts of resources, talents and wisdom by creating and providing shelter and home repairs for the needy in Fayette County and the surrounding areas.</p>
                <p>The Vision for Square Foot Ministry is to express God's love to the world by giving those in a position to help the opportunity to help those who need it. The Foundation for Square Foot Ministrry is the basic belief that 99% of what we do for God is accomplished by 
        helping to provide for for other people</p>

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Projects</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>Griffin Home Builds</p>
                <%= image_tag ('griffin.jpg'), class: 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>IMPACT 2014</p>
                <%= image_tag ('2-copy.jpg'), class: 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>IMPACT 2013</p>
                <%= image_tag ('impact1.jpg'), class: 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>Wheelchair Ramp</p>
                <%= image_tag ('ramp.jpg'), class: 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>Home Floor Repair</p>
                <%= image_tag ('floor.JPG'), class: 'img-responsive customer-img' %>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p style="color:white">Home Floor Repair</p>
                <%= image_tag ('floor1.JPG'), class: 'img-responsive customer-img' %>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Square foot Ministry 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="./stylesheets/jquery.min.js"></script>
    <script src="./stylesheets/bootstrap.min.js"></script>
    <script src="./stylesheets/docs.min.js"></script>